<div class="deleted_tasks">
    <div class="row">
        <div class="small-12 text-center">
            <h4>Deleted Tasks</h4>
        </div>
    </div>
    <div class="row align-center">
        <div class="small-12 medium-7 columns">
            <table class="">
                <thead>
                <tr>
                    <th>Todo</th>
                    <th>Done</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <transition-group name="fade" mode="out-in" tag="tbody">
                    <tr v-for="task in tasks" :key="task.name">
                        <td width="75%" v-text="task.name" class="line"
                            :class='{"text-line-through": task.completed}'></td>
                        <td width="5%">
                            <i class="fa" :class='{"fa-check": task.completed, "fa-times": !task.completed}'
                               aria-hidden="true"></i>
                        </td>
                        <td width="10%" class="text-right">
                        </td>
                        <td width="10%" class="text-right">
                            <button class="button warning" @click="undo(task)">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </transition-group>
            </table>
            <div class="text-right">
                <button class="button alert" @click="emptyTrash">Empty Trash</button>
            </div>
        </div>
    </div>
</div>