<div class="home">
    <div class="row">
        <div class="small-12 columns text-center">
            <h1>Vue.js TypeScript Todo App</h1>
        </div>
    </div>
    <div class="row align-center">
        <div class="small-12 medium-7 columns">
            <div class="card">
                <div class="card-section">
                    <div class="row expanded">
                        <div class="small-12 columns">
                            <Legend for="todoName">Was ist zu Erledigen?</Legend>
                            <input id="todoName" type="text" v-model="taskName" placeholder="Was ist zu erledigen?">
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 columns text-right">
                            <button @click="createTask()" type="button" class="button success">Anlegen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-center">
        <div class="small-12 medium-7 columns">
            <div class="card">
                <div class="card-section">
                    <table>
                        <thead>
                        <tr>
                            <th width="200">Todo</th>
                            <th width="150">Done</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="task in tasks">
                            <td v-text="task.name" class="line" :class='{"text-line-through": task.completed}'></td>
                            <td v-text="task.completed"></td>
                            <td class="text-right">
                                <button class="button warning" @click="setTaskComplete(task)">Done</button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                <button class="button alert" @click="clearList">Clear list</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>